@using PNACCompetitionsDbFirst.Models.ViewModels
@model CatchEdit


<script>

  $(document).ready(function () {

    $('.CatchAndKill, .CatchAndRelease').hide();
    CatchReleaseFields();

    $('.integer').focus(function () {
      if ($(this).val() == '0')
        $(this).val('');
    });

    $('.integer').focusout(function () {
      if ($(this).val().length == 0)
        $(this).val('0');
    });


    $('.CatchAndReleaseRadio').click(function () {
      CatchReleaseFields();
    });


    $('#SaveAndNew').click(function () {
      $('#GoToNew').val('true');
      return true;
    });


    $('#Quantity').change(function () {
      ShowHideLength();
    });



    function CatchReleaseFields() {
      if ($('#CatchAndRelease').is(':checked'))
        ShowCatchReleaseFields();
      else if ($('#CatchAndKill').is(':checked'))
        CatchAndKillFields();
    }


    function ShowCatchReleaseFields() {


      $('.CatchAndKill').hide();
      $('.CatchAndRelease').show();

      $('#LengthDiv').show();
    }


    function CatchAndKillFields() {

      $('.CatchAndRelease').hide();
      $('.CatchAndKill').show();

      ShowHideLength();
    }


    function ShowHideLength() {
      if ($('#Quantity').val().length == 0 || $('#Quantity').val() == '1')
        $('#LengthDiv').show();
      else
        $('#LengthDiv').hide();
    }


  });

</script>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.EntrantId, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.DropDownListFor(m => m.EntrantId, Model.Entrants, "Please select")
    <div>@Html.ValidationMessageFor(m => m.EntrantId)</div>
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.CatchAndRelease, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10 radio-list">

    @Html.RadioButtonFor(x => x.CatchAndRelease, "Yes", new { @class = "CatchAndReleaseRadio", id = "CatchAndRelease" })Yes
    @Html.RadioButtonFor(x => x.CatchAndRelease, "No", new { @class = "CatchAndReleaseRadio", id = "CatchAndKill" })No

    <div>@Html.ValidationMessageFor(m => m.CatchAndRelease)</div>
  </div>
</div>

<div class="form-group CatchAndKill CatchAndRelease">
  <div class="col-md-10">
    @Html.LabelFor(m => m.FishId, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.DropDownListFor(m => m.FishId, Model.Fish, "Please select")
    <div>@Html.ValidationMessageFor(m => m.Fish)</div>
  </div>
</div>


<div class="form-group CatchAndKill">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Quantity, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.DropDownListFor(m => m.Quantity, Model.Numbers, "Please select")
  </div>
</div>


<div id="LengthDiv" class="form-group CatchAndKill CatchAndRelease">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Length, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.DropDownListFor(m => m.Length, Model.Lengths, "Please select")
  </div>
</div>


<div class="form-group CatchAndKill">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Weight, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Weight, new { @class = "integer"})
  </div>
</div>

@Html.HiddenFor(m => m.CompetitionId)
@Html.HiddenFor(m => m.CatchId)
@Html.HiddenFor(m => m.GoToNew)


<div class="form-group">
  <div class="col-md-10">
    <input type="submit" class="btn btn-default save-button" value="Save" />
    <input id="SaveAndNew" type="submit" class="btn btn-default save-button not-first-button" value="Save and new" />
    <a href="/Competitions/Edit/@Model.CompetitionId?tabId=@((int)PNACCompetitionsDbFirst.Models.ViewModels.CompetitionEdit.TABS.RESULTS)" class="btn btn-default save-button not-first-button">Back to all catches</a>
  </div>
</div>