@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Components

@model CompetitionEdit


@Html.ValidationSummary()


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Venue, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Venue, new { @class = "form-control capitalise" })
    @Html.ValidationMessageFor(m => m.Venue)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.RadioButtonFor(m => m.DayType, "s") <label for="1" class="radio-label">Single day</label>
    @Html.RadioButtonFor(m => m.DayType, "m") <label for="1" class="radio-label">Multi day</label>
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.GoAnywhere)
    @Html.CheckBoxFor(m => m.GoAnywhere)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.StartDate, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.StartDate, new { @class = "datepicker" })
    @Html.ValidationMessageFor(m => m.StartDate)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.StartTime, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.StartTime, new { @class = "timepicker" })
    @Html.ValidationMessageFor(m => m.StartTime)
  </div>
</div>


<div class="form-group multi-day">
  <div class="col-md-10">
    @Html.LabelFor(m => m.EndDate, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.EndDate, new { @class = "datepicker" })
    @Html.ValidationMessageFor(m => m.EndDate)
  </div>
</div>

<div class="form-group multi-day">
  <div class="col-md-10">
    @Html.LabelFor(m => m.EndTime, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.EndTime, new { @class = "timepicker" })
    @Html.ValidationMessageFor(m => m.EndTime)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">

    @foreach (RadioValue value in Model.Environments)
    {
      @Html.RadioButtonFor(m => m.EnvironmentId, value.Id)
      <label for="@value.Id" class="radio-label">@value.Description</label>
    }

  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    <input type="submit" class="btn btn-default save-button" value="Save" />
    <a href="/competitions/index" class="btn btn-default save-button not-first-button">Back to all competitions</a>
  </div>
</div>

@Html.HiddenFor(m => m.CompetitionId)

<link rel="stylesheet" href="/Content/pickadate/default.css" />
<link rel="stylesheet" href="/Content/pickadate/default.date.css" />
<link rel="stylesheet" href="/Content/pickadate/default.time.css" />
<script src="/scripts/pickadate/picker.js"></script>
<script src="/scripts/pickadate/picker.date.js"></script>
<script src="/scripts/pickadate/picker.time.js"></script>
<script src="/scripts/pickadate/legacy.js"></script>


<script>

  var $input = $('.datepicker').pickadate({
    format: '@PNACCompetitionsDbFirst.Models.Format.DATE_FORMAT_JS',
    formatSubmit: '@PNACCompetitionsDbFirst.Models.Format.DATE_FORMAT_JS',
    closeOnSelect: false,
    closeOnClear: false,
  })
  
  var picker = $input.pickadate('picker');

  var $input = $('.timepicker').pickatime({});
  var timepicker = $input.pickatime('picker');

  $(document).ready(function () {

    $("input[name = 'DayType']").click(function () {

      if ($(this).val() == 's') {
        $(".single-day").show();
        $(".multi-day").hide();
      }
      else {
        $(".single-day").hide();
        $(".multi-day").show();
      }

    });


    @if(Model.DayType == "s")
    {
      @:$(".multi-day").hide();
    }


  });


</script>

