@using PNACCompetitionsDbFirst.Models.ViewModels
@model CompetitionEdit


@Html.AntiForgeryToken()

<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Venue, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Venue)
  </div>
</div>

<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.StartDate, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.StartDate, new { @class = "datepicker" })
    @Html.ValidationMessageFor(m => m.StartDate)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.StartTime, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.StartTime, new { @class = "timepicker" })
    @Html.ValidationMessageFor(m => m.StartTime)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    <label class="pnac-label">Competition type</label>
  </div>
  <div class="col-md-10">
    Single day @Html.RadioButtonFor(m => m.DayType, "s")
    <br/>Multi day @Html.RadioButtonFor(m => m.DayType, "m")
  </div>
</div>


<div class="form-group multi-day">
  <div class="col-md-10">
    @Html.LabelFor(m => m.EndDate, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.EndDate, new { @class = "datepicker" })
    @Html.ValidationMessageFor(m => m.EndDate)
  </div>
</div>

<div class="form-group multi-day">
  <div class="col-md-10">
    @Html.LabelFor(m => m.EndTime, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.EndTime, new { @class = "timepicker" })
    @Html.ValidationMessageFor(m => m.EndTime)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.TripCaptain, new { @class = "pnac-label a1utocomplete" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.TripCaptain, new { @class = "form-control", data_type = "search", placeholder = "Search members..." })
  </div>
</div>

@Html.HiddenFor(m => m.TripCaptainId)


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Referee1, new { @class = "pnac-label a1utocomplete" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Referee1, new { @class = "form-control" })
  </div>
</div>

@Html.HiddenFor(m => m.Referee1Id)


<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Referee2, new { @class = "pnac-label a1utocomplete" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Referee2, new { @class = "form-control" })
  </div>
</div>

@Html.HiddenFor(m => m.Referee2Id)


<div class="form-group">
  <div class="col-md-10">
    <input type="submit" class="btn btn-default save-button" value="Save" />
    <a href="/competitions/index" class="btn btn-default save-button back-button">Back to all competitions</a>
  </div>
</div>

<link rel="stylesheet" href="/Content/pickadate/default.css" />
<link rel="stylesheet" href="/Content/pickadate/default.date.css" />
<link rel="stylesheet" href="/Content/pickadate/default.time.css" />
<script src="/scripts/pickadate/picker.js"></script>
<script src="/scripts/pickadate/picker.date.js"></script>
<script src="/scripts/pickadate/picker.time.js"></script>
<script src="/scripts/pickadate/legacy.js"></script>


<script>

  var $input = $('.datepicker').pickadate({
    format: 'dddd d mmm yyyy',
    formatSubmit: 'dddd d mmm yyyy',
    // min: [2015, 7, 14],
    //container: '#datepicker-container',
    //editable: true,
    closeOnSelect: false,
    closeOnClear: false,
  })

  var picker = $input.pickadate('picker')

  var $input = $('.timepicker').pickatime({})
  var timepicker = $input.pickatime('picker')



  $(function () {

    $("input[name = 'DayType']").click(function () {

      if ($(this).val() == 's')
      {
        $(".single-day").show();
        $(".multi-day").hide();
      }
      else
      {
        $(".single-day").hide();
        $(".multi-day").show();
      }

    });


    @if(Model.DayType == "s")
    {
      @:$(".multi-day").hide();
    }



  });


</script>



<script>
  $(function () {
    var members = [

      @Html.Raw(Model.MemberNames)

    ];


    $('#TripCaptain').focus(function () {
      $(this).val('');
      return false;
    });
    $('#Referee1').focus(function () {
      $(this).val('');
      return false;
    });
    $('#Referee2').focus(function () {
      $(this).val('');
      return false;
    });


    $('#TripCaptain').autocomplete({
      source: members,
      select: function (event, ui)
      {
        $('#TripCaptainId').val(ui.item.value);
        event.preventDefault();
        $("#TripCaptain").val(ui.item.label);

      }
    });

    $('#Referee1').autocomplete({
      source: members,
      select: function (event, ui) {

        $('#Referee1Id').val(ui.item.value);
        event.preventDefault();
        $("#Referee1").val(ui.item.label);

      }
    });

    $('#Referee2').autocomplete({
      source: members,
      select: function (event, ui) {

        $('#Referee2Id').val(ui.item.value);
        event.preventDefault();
        $("#Referee2").val(ui.item.label);

      }
    });

  });



</script>
