@using PNACCompetitionsDbFirst.Models.ViewModels
@model FishEdit


@Html.AntiForgeryToken()

<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Name, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)
  </div>
</div>

<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Minimum, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Minimum, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Minimum)
  </div>
</div>

@*
  <div class="form-group">
    <div class="col-md-10">
      @Html.LabelFor(m => m.Maximum, new { @class = "pnac-label" })
    </div>
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Maximum, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.Maximum)
    </div>
  </div>
*@



<div class="form-group">
  <div class="col-md-10">
    @Html.LabelFor(m => m.Difficulty, new { @class = "pnac-label" })
  </div>
  <div class="col-md-10">
    @Html.TextBoxFor(m => m.Difficulty, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Difficulty)
  </div>
</div>


<div class="form-group">
  <div class="col-md-10">
    <label class="pnac-label">Environment</label>
  </div>
  <div class="col-md-10">
    <div>@Html.CheckBoxFor(m => m.EnvironmentFreshwater) Freshwater</div>
    <div>@Html.CheckBoxFor(m => m.EnvironmentEstuary) Estuary</div>
    <div>@Html.CheckBoxFor(m => m.EnvironmentSaltwater) Saltwater</div>
  </div>
</div>


@Html.HiddenFor(c => c.FishId)


<div class="form-group">
  <div class="col-md-10">
    <input type="submit" class="btn btn-default save-button" value="Save" />
    <a href="/fish/index" class="btn btn-default save-button not-first-button">Back to all fish</a>
  </div>
</div>

