@using PNACCompetitionsDbFirst.Models.ViewModels
@model CompetitorEdit

@{
  ViewBag.Title = "Edit " + @Model.FriendlyName;
}

<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.FriendlyName</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-10">

    @using (Html.BeginForm("Edit", "Competitors", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.AntiForgeryToken()

      @Html.EditorFor(m => m)
      @Html.HiddenFor(c => c.CompetitorId)
    }

  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}