@using PNACCompetitionsDbFirst.Entities;
@using PNACCompetitionsDbFirst.Models.ViewModels;
@model CompetitorIndex

@{
  ViewBag.Title = "Members";
}

<script>


  function DeleteCompetitor(id) {
    if (confirm('Are you sure you want to delete this competitor?')) {

      $.ajax("/Competitors/Delete?id=" + id)

        .done(function (msg) {

          if (msg.success == 'true') {
            $('#row-' + id).hide('slow');
          }

        })
        .fail(function () {
          alert("DeleteCompetitor error");
        })

    }

    return false;
  }

</script>

<div class="row">
  <div class="col-md-4">
    <h2 class="section-title">Members</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="search-bar">
      <span style="float:left;vertical-align:middle;padding-right:5px;padding-top:7px">Search </span>
      <input type="text" id="search" class="form-control" style="float:left;vertical-align:middle;margin-right:5px">
      <a href="#" id="clear" style="float:left" class="btn btn-primary btn-sm">Show all</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="table-responsive">

      @if (Model.CanCreate)
      {
        @Html.ActionLink("New", "New", "Competitors", new { }, new { @class = "btn btn-primary btn-sm" })
      }

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>


          @foreach (CompetitorListItem competitor in Model.CompetitorListItems)
          {
            <tr id="row-@competitor.CompetitorId">

              <td class="table-action">
                @if (competitor.CanEdit)
                {
                  @Html.ActionLink("Edit", "Edit", "Competitors", new { id = competitor.CompetitorId }, new { @class = "btn btn-primary btn-sm white-button" })

                  if (competitor.IsAdmin)
                  {
                    @Html.ActionLink("Delete", "Delete", "Competitors", new { id = competitor.CompetitorId }, new { @class = "btn btn-primary btn-sm white-button", onclick = "return DeleteCompetitor(" + competitor.CompetitorId + ")" })
                  }
                }
                else if (competitor.CanCreatePassword)
                {
                  @Html.ActionLink("Create password", "Create", "Competitors", new { id = competitor.CompetitorId }, new { @class = "btn btn-primary btn-sm" })
                }

              </td>


              <td class="name">@Model.NameToDisplay(competitor)</td>

            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var members = [

      @Html.Raw(Model.MemberNames)

    ];

    $('#search').autocomplete({
      source: members,

      select: function (event, ui) {

        $('#search').val(ui.item.label);
        event.preventDefault();
        FindTd(ui.item.label);
      }

    });


    $('#clear').click(function () {

      $('tr').show();
      $('#search').val('');
      $(this).hide();

    });

  });


  function FindTd(value) {

    $('td.name').each(function (index) {

      var text = $(this).text();

      if (text.indexOf(value) < 0) {
        $(this).parent('tr').hide();
      }

      $('#clear').show();

    });

  }




</script>
