@using PNACCompetitionsDbFirst.Models.ViewModels
@model CompetitionEdit

@{
  ViewBag.Title = "Edit " + @Model.Venue;
}


<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-10">

    @using (Html.BeginForm("Edit", "Competition", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.EditorFor(m => m)
      @Html.HiddenFor(c => c.CompetitionId)
    }

  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")



<link rel="stylesheet" href="/Content/pickadate/default.css" />
<link rel="stylesheet" href="/Content/pickadate/default.date.css" />
  <link rel="stylesheet" href="/Content/pickadate/default.time.css"/>

  <script src="/scripts/pickadate/picker.js"></script>
<script src="/scripts/pickadate/picker.date.js"></script>
<script src="/scripts/pickadate/picker.time.js"></script>
  <script src="/scripts/pickadate/legacy.js"></script>

  <script>

    var $input = $('.datepicker').pickadate({
      format: 'dddd d mmm yyyy',
      formatSubmit: 'dddd d mmm yyyy',
      // min: [2015, 7, 14],
      container: '#datepicker-container',
      // editable: true,
      closeOnSelect: false,
      closeOnClear: false,
    })

    var picker = $input.pickadate('picker')


    var $input = $('.timepicker').pickatime({})
    var picker1 = $input.pickatime('picker')
    //picker.open()

  </script>
}


