@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Entries;

@model CompetitionEdit

@{
  ViewBag.Title = "Edit " + @Model.Venue;
}


<style>
  body {
    display: none;
  }

  .table-responsive {
    border: none;
    outline: none;
  }

  @@media (max-width: 991px) {
    .entries-row {
      padding: 0;
    }

    .body-content {
      padding: 2px;
    }

    .btn {
      margin-bottom: 10px;
    }
  }
</style>


<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>

<script>

  $(function () {

    $("#tabs").tabs();
    $("body").show();

  });



</script>

<div id="tabs">
  <ul>
    <li><a href="#competitors-tab">Competitors</a></li>
    <li><a href="#details-tab">Details</a></li>
  </ul>

  <div id="details-tab" class="row">
    <div class="col-md-12">

      @using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.AntiForgeryToken()

        @Html.EditorFor(m => m)
        @Html.HiddenFor(c => c.CompetitionId)
      }

    </div>
  </div>

  <div id="competitors-tab">

    <div class="row">
      <div class="col-md-7">
        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Delete</span>
                  <span class="hidden-lg"></span>
                </th>
                <th>Member</th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Captain</span>
                  <span class="hidden-lg">C</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Referee</span>
                  <span class="hidden-lg">R</span>
                </th>
              </tr>
            </thead>

            <tbody id="competitors-body">

@foreach (CompetitorEntry entry in Model.CompetitionEntries)
{
  @Html.Raw(Model.EntryRow(entry));
}

            </tbody>
          </table>

          <button data-bind="click: Save" class="btn btn-primary btn-sm">Save</button>
          <button data-bind="click: AddCompetitor" class="btn btn-primary btn-sm">Add a competitor</button>
          <button data-bind="click: Test" class="btn btn-primary btn-sm">Test</button>

        </div>
      </div>
    </div>


  </div>

</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

<script>

  $(document).ready(function () {

    $("#dataTable tbody tr").on("click", function () {
      console.log($(this).text());
    });


    $(".Referee").on("click", function () {
      if($(this).parent().parent().find('.TripCaptain').is(':checked'))
      {
        alert('The trip captain cannot be a referee');
        return false;
      }
    });


    $(".TripCaptain").on("click", function () {
      $(this).parent().parent().find('.Referee').prop('checked', false);
    });


    AddAutoComplete(".competitorName");
  });


  var availableTags = [
    @Html.Raw(Model.MemberNames)
  ];


  function AddAutoComplete(selector)
  {

    $(selector).autocomplete({
      source: availableTags,
      minLength: 0,

      select: function (event, ui) {
        $(this).attr('data-val-CompetitorId', ui.item.value);
        $(this).val(ui.item.label); // save selected id to hidden input
        AddNew();
        return false;
      }

    }).focus(function () {
      $(this).autocomplete("search", $(this).val());
    });


    $(selector).click(function () {
      $(this).attr('initial-value', $(this).val());
    });


    $(selector).blur(function () {
      if($(this).val().length == 0)
        $(this).val($(this).attr('initial-value'));
    });


  }


  function AddNew()
  {
    if(CompetitorsFull())
    {
      $('#competitors-body').append(@Html.Raw(Model.EntryRowEmpty()));
      AddAutoComplete(".competitorName");
    }
  }


  function CompetitorsFull()
  {
    var full = true;

    $(".competitorName").each(function (index) {

      if($(this).val().length == 0 && full)
      {
        full = false;
      }
    });

    return full;
  }

</script>


<script>


</script>