@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Entries;

@model CompetitionEdit

@{
  ViewBag.Title = "Edit " + @Model.Venue;
}


<style>
  body {
    display: none;
  }

  .table-responsive {
    border: none;
    outline: none;
  }

  @@media (max-width: 991px) {
    .entries-row {
      padding: 0;
    }

    .body-content {
      padding: 2px;
    }

    .btn {
      margin-bottom: 10px;
    }
  }
</style>


<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>

<script>

  $(function () {

    $("#tabs").tabs();
    $("body").show();

  });



</script>

<div id="tabs">
  <ul>
    <li><a href="#results-tab">Results</a></li>
    <li><a href="#details-tab">Details</a></li>
    <li><a href="#competitors-tab">Competitors</a></li>
  </ul>

  <div id="details-tab" class="row">
    <div class="col-md-12">

      @using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.AntiForgeryToken()
        @Html.EditorFor(m => m)
      }

    </div>
  </div>

  @Html.Partial("/Views/Competitions/EditEntries.cshtml", Model)
  @Html.Partial("/Views/Competitions/EditResults.cshtml", Model.CompetitionResults)

</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

