@using PNACCompetitionsDbFirst.Models.ViewModels
@model CompetitionEdit

@{
  ViewBag.Title = "Edit " + @Model.Venue;
}


<style>
  body{
    display:none;
  }
</style>


<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>

<script>

  $(function () {

    $("#tabs").tabs();
    $("body").show();

  });

</script>

<div id="tabs">
  <ul>
    <li><a href="#competitors-tab">Competitors</a></li>
    <li><a href="#details-tab">Details</a></li>
  </ul>

  <div id="details-tab" class="row">
    <div class="col-md-12">

      @using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.AntiForgeryToken()

        @Html.EditorFor(m => m)
        @Html.HiddenFor(c => c.CompetitionId)
      }

    </div>
  </div>

  <div id="competitors-tab">

    <div class="row">
      <div class="col-md-7">
        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Action</th>
                <th>Member</th>
                <th>Captain</th>
                <th>Referee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a class="btn btn-primary btn-sm btn-delete" href="#">Delete</a></td>
                <td>John Smith</td>
                <td>Wed 23 March, 6am</td>
                <td>Thu 24 March, 5pm</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>

</div>




@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}