@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Results;

@model CompetitionResults


<div id="catches-tab">

  <div class="row">

    <div class="col-md-7">
      <a href="/Catches/New?id=@Model.CompetitonId" class="btn btn-default save-button" style="color:#ffffff;margin-bottom:20px">New</a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">


      @if (Model.Catches.Count() > 0)
      {
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Action</span>
                  <span class="hidden-lg"></span>
                </th>
                <th>Member</th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Fish</span>
                  <span class="hidden-lg">F</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">kg</span>
                  <span class="hidden-lg">W</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">cm</span>
                  <span class="hidden-lg">L</span>
                </th>
              </tr>
            </thead>

            <tbody id="competitors-body">

              @foreach (CompetitorResult result in Model.Catches)
              {
                <tr>

                  <td>
                    @Html.ActionLink("Edit", "Edit", "Catches", new { id = result.CatchId }, new { @class = "btn btn-primary btn-sm white-button" })
                    @Html.ActionLink("Delete", "Delete", "Catches", new { id = result.CatchId }, new { @class = "btn btn-primary btn-sm white-button" })
                  </td>

                  <td>@result.CompetitorName</td>
                  <td>@result.FishName</td>

                  @if (result.CatchAndRelease)
                  {
                    <td>NA</td>
                  }
                  else
                  {
                    <td>@result.Weight</td>
                  }

                  @if (result.Length > 0)
                  {
                    <td>@result.Length</td>
                  }
                  else
                  {
                    <td>NA</td>
                  }

                </tr>
              }

            </tbody>
          </table>
        </div>
      }
      else
      {
        @:There are no results yet
      }

    </div>
  </div>


</div>


