@using PNACCompetitionsDbFirst.Models.ViewModels
@model CompetitionEdit

@{
  ViewBag.Title = "Edit " + @Model.Venue;
}


<div class="row">
  <div class="col-md-8">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    @using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.AntiForgeryToken()

      @Html.EditorFor(m => m)
      @Html.HiddenFor(c => c.CompetitionId)
    }

  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}