@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Entries;

@model CompetitionEdit

@{
  ViewBag.Title = @Model.Venue;
}

@section meta
{


  <style>
    body {
      display: none;
    }

    .table-responsive {
      border: none;
      outline: none;
    }

    @@media (max-width: 991px) {
      .entries-row {
        padding: 0;
      }

      .body-content {
        padding: 2px;
      }

      .btn {
        margin-bottom: 10px;
      }
    }
  </style>


  <script>
    $(document).ready(function() {

      $('#tabs').tabs({ active: @Model.ActiveTab() });
      $('body').show();

    });
  </script>

}


<div class="row">
  <div class="col-md-12">
    <h2>Edit @Model.Venue</h2>
  </div>
</div>

<div id="tabs">
  <ul>
    <li><a href="#details-tab">Details</a></li>

    <li><a href="#competitors-tab">Competitors</a></li>

    @if (Model.Begun)
    {
      <li><a href="#catches-tab">Catches</a></li>
      <li><a href="#results-tab">Results</a></li>
    }
    else
    {
      <script>

        $(document).ready(function() {

          $('#catches-tab').hide();

        });

      </script>
    }

  </ul>

  <div id="details-tab" class="row">
    <div class="col-md-12">

      @using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.AntiForgeryToken()
        @Html.EditorFor(m => m)
        @Html.HiddenFor(m => m.Begun)
      }

    </div>
  </div>

  @Html.Partial("/Views/Competitions/EditEntries.cshtml", Model)

  @if (Model.Begun)
  {
    @Html.Partial("/Views/Competitions/EditCatches.cshtml", Model.CompetitionCatches)
    @Html.Partial("/Views/Competitions/Results.cshtml", Model)
  }

</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

