@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Catches;

@model CompetitionEdit

<script>

  function DeleteCatch(id) {

    if (confirm('Are you sure you want to delete this catch?')) {

      $.ajax("/Catches/Delete?id=" + id)

        .done(function (msg) {

          if (msg.success == 'true') {
            $('#row-' + id).hide('slow');
          }

        })
        .fail(function () {
          alert("DeleteCatch error");
        })

    }

    return false;
  }

</script>


<div id="catches-tab">

  @if (Model.CanEdit)
  {
    <div class="row">

      <div class="col-md-7">
        <a href="/Catches/New?id=@Model.CompetitionCatches.CompetitonId" class="btn btn-default save-button" style="color:#ffffff;margin-bottom:20px">New</a>
      </div>

    </div>
  }


  <div class="row">
    <div class="col-md-12">


      @if (Model.CompetitionCatches.Catches.Count() > 0)
      {
        <div class="table-responsive">
          <table class="table table-striped tablesorter">
            <thead>
              <tr>

                @if (Model.CanEdit)
                {
                  <th>
                    <span class="hidden-sm hidden-xs hidden-md">Action</span>
                    <span class="hidden-lg">A</span>
                  </th>
                }

                @if (Model.CompetitionCatches.ShowDay)
                {
                  <th>
                    <span class="hidden-sm hidden-xs hidden-md ">Day</span>
                    <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                    <span class="hidden-lg">D</span>
                  </th>
                }
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Member</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">F</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Fish</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">F</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">kg</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">W</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">cm</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">L</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Length formula</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">F</span>
                </th>
                <th>
                  <span class="hidden-sm hidden-xs hidden-md">Length points</span>
                  <span class="hidden-sm hidden-xs hidden-md tablesorter-image"></span>
                  <span class="hidden-lg">LP</span>
                </th>
              </tr>
            </thead>

            <tbody id="competitors-body">

              @foreach (CompetitorCatch result in Model.CompetitionCatches.Catches.OrderByDescending(c => c.Date).ThenByDescending(c => c.CatchId))
              {
                <tr id="row-@result.CatchId">

                  @if (Model.CanEdit)
                  {
                    <td>
                      @Html.ActionLink("View", "Edit", "Catches", new { id = result.CatchId }, new { @class = "btn btn-primary btn-sm white-button" })
                      <a href="#" class="btn btn-primary btn-sm white-button" onclick="return DeleteCatch(@result.CatchId)">Delete</a>
                    </td>
                  }


                  @if (Model.CompetitionCatches.ShowDay)
                  {
                    <td>@result.Date.ToString("ddd")</td>
                  }

                  <td>@result.CompetitorName</td>
                  <td>@Html.ActionLink(@result.FishName, "Caught", "Fish", new { catchId = @result.CatchId }, new { @class = "caught-link-cell" })</td>
                  <td>@result.Weight</td>
                  <td>@result.Length</td>

                  <td>

                    @{
                      if (@result.Points == 0)
                      {
                        <text>NA</text>
                      }
                      else
                      {
                        @result.LengthFormula
                      }
                    }

                  </td>

                  <td>

                    @{
                      if (@result.Points == 0)
                      {
                        <text>NA</text>
                      }
                      else
                      {
                        @Math.Round(result.Points, 0)
                      }
                    }

                  </td>
                </tr>
                      }

            </tbody>
          </table>
        </div>
                      }
                      else
                      {
                        @:There are no catches yet
      }

    </div>
  </div>


</div>
