@using PNACCompetitionsDbFirst.Entities;
@using PNACCompetitionsDbFirst.Models.ViewModels;
@using PNACCompetitionsDbFirst.Models;
@model CompetitionIndex

@{
  ViewBag.Title = "Competitions";
}

<script>

  function DeleteCompetition(id) {
    if (confirm('Are you sure you want to delete this competition?')) {

      $.ajax("/Competitions/Delete?id=" + id)

        .done(function (msg) {

          if (msg.success == 'true')
          {
            $('#row-' + id).hide('slow');
          }

        })
        .fail(function () {
          alert("DeleteCompetition error");
        })

    }

    return false;
  }

</script>

<div class="row">
  <div class="col-md-6">
    <h2 class="section-title">Competitions</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="table-responsive">

      @if (Model.CanCreate)
      {
        @Html.ActionLink("New", "New", "Competitions", new { }, new { @class = "btn btn-primary btn-sm" })
      }

      <table class="table table-striped">
        <thead>
          <tr>
            @if (Model.CompetitionListItems.Any(c => c.CanEdit))
            {
              <th>Action</th>
            }
            <th>Venue</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>


          @foreach (CompetitionListItem competition in Model.CompetitionListItems)
          {
            <tr id="row-@competition.CompetitionId">

              @if (Model.CompetitionListItems.Any(c => c.CanEdit))
              {
                <td class="table-action">
                  @if (competition.CanEdit)
                  {
                    @Html.ActionLink("View", "Edit", "Competitions", new { id = competition.CompetitionId }, new { @class = "btn btn-primary btn-sm white-button" })
                    @Html.ActionLink("Delete", "Delete", "Competitions", new { id = competition.CompetitionId }, new { @class = "btn btn-primary btn-sm white-button", onclick = "return DeleteCompetition(" + competition.CompetitionId + ")" })
                  }
                </td>
              }

              <td>@competition.Venue</td>
              <td>@Format.DateAndTime(competition.Start)</td>
              <td>@Format.DateAndTime(competition.End)</td>

            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
</div>