@using PNACCompetitionsDbFirst.Models.ViewModels
@using PNACCompetitionsDbFirst.Models.ViewModels.Catches;
@using PNACCompetitionsDbFirst.Entities;

@model CompetitionEdit


<div id="results-tab">

  <div class="row">
    <div class="col-md-12">


      @if (Model.LengthPoints.Count() > 0)
      {
        <div style="float:left">
          <h2>Length Results</h2>
          @Html.Partial("/Views/Competitions/ResultsTable.cshtml", @Model.LengthPoints)
        </div>
      }


      @if (Model.WeightPoints.Count() > 0)
      {
        <div style="float:left">
          <h2>Weight Results</h2>
          @Html.Partial("/Views/Competitions/ResultsTable.cshtml", @Model.WeightPoints)
        </div>
      }

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      @if (Model.LongestFish.Count() > 0)
      {
        <div style="float:left">
          <h2>Longest Fish</h2>
          @Html.Partial("/Views/Competitions/ExtremeTable.cshtml", @Model.LongestFish)
        </div>
      }

      @if (Model.HeaviestFish.Count() > 0)
      {
        <div style="float:left">
          <h2>Heaviest Fish</h2>
          @Html.Partial("/Views/Competitions/ExtremeTable.cshtml", @Model.HeaviestFish)
        </div>
      }


    </div>
  </div>



</div>
