@using PNACCompetitionsDbFirst.Models
@model MenuViewModel


<ul class="nav navbar-nav">
  <li>@Html.ActionLink("Leader Board", "Index", "Home")</li>
  <li>@Html.ActionLink("Competitors", "Index", "Competitors")</li>
  <li>@Html.ActionLink("Competitions", "Index", "Competitions")</li>

  <li>@Html.ActionLink("Fish", "Index", "Fish")</li>

  <!--
  <li>@Html.ActionLink("About", "About", "Home")</li>
  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
  -->
</ul>

