<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

  <link rel="stylesheet" href="/Content/jquery-ui.1.11.4.css">
  <script src="/scripts/jquery-2.2.3.min.js"></script>
  <script src="/scripts/jquery-ui.1.11.4.min.js"></script>

  <script>

    $(document).ready(function() {

      $('.capitalise').change(function () {
        $(this).val(toTitleCase($(this).val()));
      });

    });

    function toTitleCase(str) {
      return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
    }

  </script>

  @RenderSection("meta", required: false)


</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Preston Northcote Angling Club", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        @Html.Action("Menu", "Home")
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - <a href="http://www.yart.com.au" target="_blank">Yart</a> business automation</p>
      <p>Sunrise/sunset times are obtained from <a href="http://sunrise-sunset.org/api" target="_blank">Sunrise Sunset</a></p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
